<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <title>READBEE RTS</title>
    <link href="styles.css" rel="stylesheet" type="text/html">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
      <a class="navbar-brand" href="/orders">רידבי בע"מ</a>
      {{#if isAuthenticated}}
    <!--  <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          הגדרות
        </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">כללי</a>
          <a class="dropdown-item" href="/workers">עובדים</a>
        </div>
      </li> -->
      <a class="navbar-brand" href="/rfid_live">RFID LIVE</a>
      <a class="navbar-brand" href="/rfid_list">RFID LIST</a>
      <a class="navbar-brand" href="/logout">התנתק</a>
      {{/if}}
    </nav>

  <div class="container-fluid text-right">
    <div class="row">
      <div class="col-xl-12 text-center mt-4 mb-4">
      </div>
      <div class="col-xl-12 text-center mt-4 mb-1">
          <h1>{{header}}</h1><br>
      </div>
  </div>
    <div class="row">
      <div class="col-xl-2">
      </div>
      <div class="col-xl-8">
        {{{body}}}
      </div>
      <div class="col-xl-2">
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <br><br>
      <div class="container text-center">
          <p>כל הזכויות שמורות רידבי בע"מ | 2018</p>
      </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<!-- library for tables-->
<script src="/reload/reload.js"></script>

<!-- library for tables-->
<script>
$(document).ready(function() {
    $('#DataTable').DataTable();
} );
</script>

<script type="text/javascript">
// Hebrew
$('#DataTable').DataTable({
  "language": {
    "processing":   "מעבד...",
    "lengthMenu":   "הצג _MENU_ פריטים",
    "zeroRecords":  "לא נמצאו רשומות מתאימות",
    "emptyTable":   "לא נמצאו רשומות מתאימות",
    "info": "_START_ עד _END_ מתוך _TOTAL_ רשומות" ,
    "infoEmpty":    "0 עד 0 מתוך 0 רשומות",
    "infoFiltered": "(מסונן מסך _MAX_  רשומות)",
    "infoPostFix":  "",
    "search":       "חפש:",
    "url":          "",
    "paginate": {
        "first":    "ראשון",
        "previous": "קודם",
        "next":     "הבא",
        "last":     "אחרון"
    }
}
});
</script>

  </body>
</html>
